.fieldform {
  margin: 25px 5% 0px 5%;
}

.addButton, .button{
  background-color: #D64309 !important;
  border-color: #D64309 !important;

}

.addButton {
  float: right;
}

.buttonGroup {
  flex-direction: row;
}

.back {
    background-color: #d64309;
    box-shadow: 0 1px 1px -2px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    padding: 5px 15px;
}