html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  --page-width: 100vw;
}
.content {
  background-color: #fafafa;
  width: calc(77% + (var(--page-width) - 77vw));
}