.fieldform {
    margin: 10px 5% 0px 5%;
}

.addButton, .button{
  background-color: #D64309 !important;
  border-color: #D64309 !important;

}

.addButton {
  float: right;
}

.buttonGroup {
  flex-direction: row;
}

.fileupload {
  border: thin dashed rgb(27, 85, 211);
  justify-content: center;
  text-align: center;
  padding: 2%;
  margin: 2%;
}

.dropDownSelected{
  background-color: #FFFFFF !important;
  border-color: #D64309 !important;
  color: #D64309 !important;
}