.item {
  margin: 10px 5% 0px 5%;
}

.form {
  border-top: 1px solid rgba(0,0,0,.125);
  padding-top: 15px;
}

.buttonRow {
  display:flex;
  flex-direction: row;
  gap:10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.expandedCard{
  width:100%;
}

.expandedInput{
  overflow: hidden;
}

.unexpandedInput{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.deleteButton {
  float: right;
}

.fields {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:10px;
}

.hover:hover  {
  background: #ebedf7;
  box-shadow: 0 0 0px 5px #ebedf7;
  cursor:pointer;
  user-select: none;
}

.image {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.documentCard {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.deleteDocBtn:hover  {
  background: #ebedf7;
  box-shadow: 0 0 0px 5px #ebedf7;
  cursor:pointer;
  user-select: none;
}