.cardtitle {
  display: flex;
  gap:10px;
  align-items: center;
  flex-wrap: wrap;
}




.back {
  background-color: #d64309;
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
  padding: 5px 15px;
}

.row {
  display:flex;
  justify-content: right;
  gap:10px;
  flex-direction: row;
}

