.logo, .sharedNavBar {
    flex-direction: column;
}
.logo {
    margin-top: 10px;
    padding:15px
}
.sharedNavBar {
    background-color: #0033A0;
    display: flex;
    box-shadow: 0px 50px 8px #333;
    z-index: 1;
    font-family: 'Montserrat';
}

.bsu-logo {
    max-width:250px;
}
.sharedText, .sharedHeader {
    color: white;
    text-align: center;
    text-decoration: none;
}
.toolbar {
    height:50px;
    text-align: left;
    padding:10px;
    box-shadow: 0px 0px 8px #333;
}

.toolbarTitle {
    margin:0px;
}

.sharedText {
    display: flex;
    padding:10px 0px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
}

.navbarDivider {
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 0px 20px;
}

.textIcon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sharedText:hover {
    background:#1947a9;
    box-shadow: 0px 0px 1px 1px #1947a9;
    color:white
}

.logout {
    cursor:pointer;
    user-select: none;
}