.typeform {
  margin: 25px 5% 0px 5%;
}

.button, .addButton{
  background-color: #D64309 !important;
  border-color: #D64309 !important;
  margin-top: 1%;
}

.listButton, .addButton { 
  float: right;
}

.formHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.addButton:hover, .button:hover {
  background-color: #BE3B08 !important;
  border-color: #BE3B08 !important;
}