name: beima

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches: 
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  LocalMongoConnection: mongodb://localhost:27017
  CurrentEnv: dev-cloud
  DatabaseName: beima
  DeviceCollectionName: devices
  AzureCosmosConnection: ${{ secrets.AZURE_COSMOS_CONNECTION }}
  DeviceTypeCollectionName: deviceTypes
  REACT_APP_API_URL: http://localhost:7071/api/

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs the build and test scripts
      - name: Build
        run: ./build.sh
      - name: Test
        run: ./test.sh
